# Скопируйте этот файл в .env и поменяйте значения под своё окружение.

# Порт, на котором запускается фронтенд.
PORT=8000

# Адрес бэкенда. Для адреса фронтенда на бэкенде должен быть разрешён CORS.
API_URL=http://localhost:8080/api
